{% extends "base.html" %}

{% block content %}
<div class="logo3">
    
    <img src="{{ url_for('static', filename='images/homeb.png') }}" alt="College Logo">
    <div class="homecontent">
        <h2 style="font-size: 50px;text-shadow: 5px 5px 20px rgb(252, 250, 250);color: green;">Welcome!!</h2>
    <p style="text-shadow: 5px 5px 10px rgb(6, 6, 6);letter-spacing: 1px;color:white;background-color: grey;">
        This project focuses on expanding the diagnostic power of Ensembling Deep learning models and Machine learning models to detect Melanoma skin cancer.
        Explore the different features we have implemented to provide insights and predictions.
    </p>
    </div>
    
        
    </div>
    <footer>
        <p>&copy; Narasaraopeta Engineering college, Department of CSE.</p>
    </footer>

{% endblock %}
